/*font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;*/
:root {
  --background: #f9f7fe;
  --main-color: #272142;
}

body {
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: var(--main-color);
}
h1, h5{
  color:white;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 36px;
}

h6 {
  font-size: 18px;
  color: var(--main-color);
}

.copyright {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  font-size: 28px;
}

p {
  font-family: "Nunito", sans-serif;
  line-height: 30px;
  font-size: 16px;
}

.hero {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("/images/bg.png") no-repeat center center / 100% 100%;
  margin-bottom: 70px;
}

.hero h1 {
  text-align: center;
  font-size: 72px;
}
.hero h5 {
  text-align: center;
  font-size: 24px;
  line-height: 35px;
}

.headers {
  padding: 35px;
}

.bodySection {
  display: block;
  margin: 100px auto;
}
.bodySection .row {
  display: flex;
  justify-content: space-evenly;
}
.bodySection img {
  padding: 0 6px;
  border-radius: 12px;
}
.footerSection {
  background-color: var(--background);
  flex: 1;
  text-align: center;
}
.footerSection p {
  font-size: 12px;
}
.footerSection .row {
  display: flex;
  align-content: center;
}

@media (max-width: 900px) {
  .hero {
    background-size: cover;
  }

  .hero h1 {
    margin-top: 10px;
    font-size: 26px;
    line-height: 1.5;
    text-align: left;
  }
  .hero h5 {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
  }

  h3 {
    font-size: 18px;
    text-align: center;
  }
  .row {
    margin:0 !important;
  }

  .headers {
    padding: 10px;
  }
  .bodySection {
    display: block;
    margin: 0 auto;
    padding: 0 35px 0 35px;
    margin-bottom: 30px;
  }
  .hero {
    margin-bottom: 30px;
  }
  .logo {
    width: 100px;
    height: auto;
  }
}
