/*font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;*/
body {
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: white;
}

p {
  font-family: "Nunito", sans-serif;
  color: #000;
  font-size: 28px;
}

.hero {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("/images/bg.png") no-repeat center center / 100% 100%;
    margin-bottom: 70px;
}

.hero h1 {
  text-align: center;
  font-size: 72px;
}
.hero h5 {
  text-align: center;
  font-size: 24px;
}

.headers {
  padding: 35px;
}

@media (max-width: 700px) {
  .hero {
    background-size: cover;
  }
}

.footerSection {
  background-color: #F9F7FE;
  flex: 1;
  text-align: center;
}
.footerSection p {
  font-size: 12px;
}
.footerSection .row{
  display: flex;
  align-content:center;
}
