/*font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;*/
body {
  background-color: #484848;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: white;
}

p {
  font-family: "Nunito", sans-serif;
  color: #000;
  font-size: 28px;
  line-height: 3;
}

.hero {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("/images/bg.png") no-repeat center center / 100% 100%;
}

.hero h1 {
  text-align: center;
  font-size: 72px;
}
.hero h5 {
  text-align: center;
  font-size: 24px;
}

.headers {
  padding: 35px;
}

@media (max-width: 700px) {
  .hero {
    background-size: cover;
  }
}
.container {
  margin-top: 100px;
  padding: 70px;
}
